.homepage {
  background-color: #ffffff;
}


/* Hero Section */
.hero {
  background: url('src/assets/back2.png');
  /* opacity: 0.85; */
  background-repeat: no-repeat;
  background-size:cover;
  height: 92vh;
  width: 98.9vw;
}

/* .hero h1 {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

} */

.hero p {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
  color: #2c2c2c;
}

.hero h1{
  font-size: 4.5rem;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, rgb(88, 79, 79), rgb(255, 37, 37));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}




/* linear-gradient(to right, rgba(255, 255, 255, 0.836), rgba(255, 255, 255, 0.3)), */

